.card {
    margin-bottom: 15px;
    min-height: 425px;
    max-height: 450px;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .btn.btn-primary {
    position: absolute;
    margin-bottom: 20px;
    bottom: 0;
  }